
body {
  font-family: 'myriad pro', sans-serif;
  font-size: 20px;
  border: 0;
}

todo {
  display: block;
  max-width: 700px;
  margin: 5% auto;
}

.todoContent {
  /*background: #bbe5a4;*/
  display: block;
  max-width: 700px;
  margin: 5% auto;
}

.todoItem {
  margin-top: 10px;
  padding: 10px;
  font-size: 20px;
}

.todoTitle {
  display: inline-block;
  padding: 5px 15px;
}

.typeItem {
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
  color: #495060;
}

.typeItemSelect {
  color: #2d8cf0;
}

form select {
  display: inline-block;
  box-sizing: border-box;
  outline: 0;
  cursor: pointer;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #dddee1;
  transition: all .2s ease-in-out;
  height: 32px;
  position: relative;
}

form select option {

}

form input {
  font-size: 85%;
  padding: .4em;
  border: 1px solid #ccc;
  border-radius: 2px;
}

button {
  background-color: #1FADC5;
  border: 1px solid rgba(0,0,0,.2);
  font-size: 75%;
  color: #fff;
  padding: .4em 1.2em;
  border-radius: 2em;
  cursor: pointer;
  margin: 0 .23em;
  outline: none;
}

.hide {
  display: none;
}

button[disabled] {
  background-color: #ddd;
  color: #aaa;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  padding: .2em 0;
}

.timeShow {
  margin-left: 25px;
}

.completed {
  text-decoration: line-through;
  color: #ccc;
}

.todoTypeClass {
  color: blue;
}

label {
  cursor: pointer;
}

